.newProduct__form {
    width: 300px;
    min-height: 330px;
    margin: 3rem auto;
    border: 2px solid #00ff80;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 1px 2px 3px #c3c3c3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.newProduct__title {
    margin: 0;
    text-transform: uppercase;
}
.newProduct__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.newProduct__input{
    width: 150px;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: 2px solid #00ff80;
    border-radius: 5%;
}
.newProduct__description {
    width: 280px;
    height: 110px;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid #00ff80;
    border-radius: 5%;
}
.newProduct__submitButton {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5%;
    background: linear-gradient(130deg, rgb(0,255,128), rgb(0,255,255));
    box-shadow: 1px 2px 3px #c3c3c3;
}
.newProduct__submitButton:hover {
    transform: translateY(-2px);
    cursor: pointer;
}
.newProduct__submitButton:active {
    transform: none;
    box-shadow: none;
}
.newProduct__error{
    color:red;
}